.servicios {
    margin-left: 10;
}

.vl {
    margin-left: 264px;
    margin-top: -60px;
    right: 500px;
    border-left: 6px solid rgb(207, 58, 58);
    height: 500px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.servicios ul li {
    margin-top: 40px;
    font-family: Roboto;
    font-size: 20px;
    list-style: none;
}

#asesoria {
    position: absolute;
    top: 100px;
    left: 385px;
    animation: serviciosAnimation ease 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#planificacion {
    position: absolute;
    top: 150px;
    left: 838px;
    animation: serviciosAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#instalacion {
    position: absolute;
    top: 240px;
    left: 385px;
    animation: serviciosAnimation ease 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#reparacion {
    position: absolute;
    top: 300px;
    left: 838px;
    animation: serviciosAnimation ease 14s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#electronica {
    position: absolute;
    top: 380px;
    left: 385px;
    animation: serviciosAnimation ease 16s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#plomeria {
    position: absolute;
    top: 450px;
    left: 838px;
    animation: serviciosAnimation ease 18s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes serviciosAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.vlh1 {
    border-bottom: solid 2px grey;
    margin-left: -27px;
    margin-top: -563px;
    width: 296px;
    height: 94px;
    animation: animate 2s linear infinite;
    animation-iteration-count: 1;
}

@keyframes animate {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }


}

.vlh2 {
    border-bottom: solid 2px grey;
    margin-left: -28px;
    margin-top: 46px;
    width: 296px;
    height: 94px;
    animation: animate 2s linear infinite;
    animation-iteration-count: 1;
}

.vlh3 {
    border-bottom: solid 2px grey;
    margin-left: -31px;
    margin-top: 46px;
    width: 296px;
    height: 94px;
    animation: animate 2s linear infinite;
    animation-iteration-count: 1;
}

.vlh4 {
    border-bottom: solid 2px grey;
    margin-left: 265px;
    margin-top: -326px;
    width: 275px;
    height: 94px;
    animation: animate2 2s linear infinite;
    animation-iteration-count: 1;
}

@keyframes animate2 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }


}

.vlh5 {
    border-bottom: solid 2px grey;
    margin-left: 267px;
    margin-top: 57px;
    width: 260px;
    height: 94px;
    animation: animate2 2s linear infinite;
    animation-iteration-count: 1;
}

.vlh6 {
    border-bottom: solid 2px grey;
    margin-left: 270px;
    margin-top: 56px;
    width: 240px;
    height: 94px;
    animation: animate2 2s linear infinite;
    animation-iteration-count: 1;
}